.story-font {
    font-family: Story Script, sans-serif;
}

.quicksand-font {
    font-family: Quicksand, sans-serif;
}

.title-color {
    color: #fc3879;
}

.title {
    font-size: 5rem;
}

.subtitle {
    font-family: Quicksand, sans-serif;
}

.card {
    border-radius: 0;
}