.title {
    font-family: Story Script, sans-serif;
    font-size:5rem;
    color: #fc3879;
}

.subtitle {
    font-family: Quicksand, sans-serif;
}

.card {
    max-width: 540px;
    border-radius: 0;
}